.button-component {
    width: 150px;
    height: 70px;
    padding: 20px;
    border: none;
    background-color: rgb(46, 46, 186);
    font-size: 20px;
    color: wheat;
    border-radius: 6px;
}

.main-button {
    background-color: rgb(46, 19, 164);
}

.delete-button {
    background-color: rgb(142, 11, 11);
}