.button-component {
  width: 470px;
  height: auto;
  max-height: 70px;
  padding: 20px 54px 20px 54px;
  font-size: large;
  color: white;
  background: #1f27f5;
  border: none;
  border-radius: 4px;
  gap: 10px;
  cursor: pointer;
}
