.counter-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 400px;
  height: fit-content;
  border: 1px solid rgb(64, 40, 40);
  border-radius: 10px;
  padding: 20px;
  background-color: rgb(26, 35, 53);
  color: white;
}

.count {
  font-size: 40px;
  color: white;
}
