@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.loginForm-component {
    display: flex;
    flex-direction: column;
    width: 590px;
    height: auto;
    min-height: 450px;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 60px;
    gap: 30px;
    font-family: "Lato", sans-serif;
    
}

.title {
    width: 471px;
    height: 24px;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    padding: 0 0 20px;
    text-align: left;
}