.lesson_03-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 80px;
    gap: 40px;
}

.simpsons-wrapper {
    display: flex;
    flex: 1;
    padding: 80px;
    gap: 40px;
}